<!-- REGISTRACION -->
<div class="row cont-log">
    <div class="conte-log">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 cont-registrarse centeredX">
            <section>
                <!--<h1><img src="images/logo.png" class="img-responsive" alt="" /></h1>-->
                <p>registrate</p>
                <div ng-bind-html="formFromAPI"></div>
                
                <!--
                <input placeholder="Email..." type="text" />
                <input placeholder="Nombre..." type="text" />
                <input placeholder="Contraseña..." type="password" />
                <input placeholder="Repetir contraseña..." type="password" class="last" />
                -->
                <a href="javascript:void(0)" class="btn-enviar-log text-center pull-right" ng-click="registerNewUser()">enviar</a>
                <div class="cont-reg">
                    <a href="#/" class="olvide pull-left">ya tengo una cuenta</a>
                    <!--<a href="#" class="registrate pull-right">registrate</a>-->
                </div>
            </section>
        </div>
    </div>
</div>
<!-- REGISTRACION -->

