{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Edici%oacute;n de t&iacute;tulo</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('titulos') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

<script type="text/javascript">
$(function(){
	// le seteo imagen si ya tiene cargada
	var imagen = $("#imagen_subida").html();
	imagen = imagen.replace(/__ID__/g, {{entity.id}});
	console.log(imagen);
	$("#imagen_subida").html(imagen);
	// inicio el fileuploader
	$("#fileuploader").uploadFile({
	    url:"../upload",
	    fileName:"myfile",
	    onSuccess:function(files,data,xhr)
	    {
	        $("#nombreArchivo").val(files);
	        var imagen = '<img src="/uploads/temp/' + files + '" width="100">';
	        $("#imagen_subida").html(imagen);
	    }
	});

});
</script>
{% endblock %}
