{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Titulos creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('titulos') }}">
            Volver al listado
        </a>
    </li>
</ul>

<script type="text/javascript">
$(function(){
    // le seteo imagen si ya tiene cargada
    var imagen = '<img src="/uploads/titulo/{{ entity.id }}.jpg" width="100">'
    $("#imagen_subida").html(imagen);

    // inicio el fileuploader
    $("#fileuploader").uploadFile({
        url:"{{ url('admin_upload_pic') }}",
        fileName:"myfile",
        onSuccess:function(files,data,xhr)
        {
            $("#nombreArchivo").val(files);
            var imagen = '<img src="/uploads/temp/' + files + '" width="100">';
            $("#imagen_subida").html(imagen);
        }
    });

});
</script>

{% endblock %}
