{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Titulos creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('titulos') }}">
            Back to the list
        </a>
    </li>
</ul>

<script>
	$(document).ready(function()
	{
		$("#appbundle_titulos_upload_photo").uploadFile({
		url:"YOUR_FILE_UPLOAD_URL",
		fileName:"myfile"
		});
	});
</script>

{% endblock %}
