{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h2>¡El titulo ha sido creado exitosamente! Haga <a href="{{ url('titulos') }}">click aqu&iacute;</a> para volver al listado.</h2>
{% endblock %}
