{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Series</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nombre:&nbsp; </th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('series') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('series_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
