{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h2>¡La serie ha sido creada exitosamente! Haga <a href="{{ url('series') }}">click aqu&iacute;</a> para volver al listado.</h2>

{% endblock %}
