<!-- REGISTRACION -->
<div class="row cont-log">
    <div class="conte-log">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 cont-registrarse centeredX">
            <section>
                <!--<h1><img src="images/logo.png" class="img-responsive" alt="" /></h1>-->

                <p>El usuario se ha creado satisfactoriamente</p> <br />
                <p>Felicidades <a class="registrate">{{userName}}</a>, tu cuenta está ahora confirmada.</p><br /><br />
                <a href="#/" class="linkButton">Ir a la HOME</a>

            </section>
           </div>
    </div>
</div>
<!-- REGISTRACION -->

