/***** GENERAL *****/

.vis-hidden{
 visibility: hidden;
}

.mt0{
	margin-top: 0;
}

.whiteLink{
	color: white;
}
.whiteLink:hover{ 
    color: #FF5353;
}

.pointerCursor{
	cursor: pointer;
}

.notFoundMsg{
	text-align: center;
}

.linkButton {
  float: right;
  font-weight: bold;
  color: #81CBD5;
  border: 3px solid #81CBD5;
  background: transparent;
  text-transform: uppercase;
  font-size: 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 1% 5%;
  margin: 0 0 5%;
  letter-spacing: 0.1em;
}

/***** VIEMO EMBED *****/

.embed-container { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	z-index: 1031;
}
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.preloader {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
.preloader img{
	margin-left: 48%;
    margin-right: auto;
	height: 24px;
	width: 24px;
}

.no-video-image img{
	width: 100%;
	height: auto;
}
/***** ANIMATIONS *****/

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.result0 {
-webkit-animation-delay: 0s;
-moz-animation-delay: 0s;
animation-delay: 0s;
}

.fade-in.result1 {
-webkit-animation-delay: 0.1s;
-moz-animation-delay: 0.1s;
animation-delay: 0.1s;
}

.fade-in.result2 {
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;
}

.fade-in.result3 {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
}

.fade-in.result4 {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.fade-in.result5 {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.fade-in.result6 {
-webkit-animation-delay: 0.6s;
-moz-animation-delay: 0.6s;
animation-delay: 0.6s;
}