*{
	padding: 0;
	margin: 0;
}
img { border: 0; }

a { 
  text-decoration: none; 
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition:all .2s linear; 
  -o-transition:all .2s linear; 
  -moz-transition:all .2s linear; 
  -ms-transition:all .2s linear; 
  transition:all .2s linear;
}

object, image { 
  vertical-align: top;
  border: 0;
  padding: 0;
  margin: 0;
}

img { 
  float: left;
  display: block;
}

.clear {
  clear: both;
  height: 0px;
}

.centeredX{
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.centeredY{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centeredXY{
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
html{
	background: url(../images/bg-footer.jpg) repeat;
}
html.login{
	background-image: url(../images/cemento.jpg);
    height: 100%;
    width: 100%;
    background-color: #000;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
}
html.login body{
	background: transparent;
}
body{
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #000 !important;
	/*background: url(../images/cemento.jpg) no-repeat;*/
	background: #000;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Oswald', sans-serif;
}
.pb0{
	padding-bottom: 0 !important;
}
.mt0{
	margin-top: 5em;
}
.btn-blood{
	background: #81cbd5;
	border: 1px solid #81cbd5;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}

.btn-blood:hover,
.btn-blood:focus{
	background: #6dadb2;
	border: 1px solid #6dadb2;
}
body .mx80{
	max-width: 80%;
	margin: 0 auto;
}
/* LOGIN */
.cont-log{
	margin: 5em 0 0;
}
.cont-log .conte-log{
	width: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}
.cont-log h1{
	font-size: 8em;
	text-align: center;
	color: #FFF;
	font-weight: 300;
	margin: 0 0 0.2em 0;
	overflow: hidden;
	padding: 0.01em 0;
	text-shadow:0px 3px 0px #000;
}
.cont-log h2{
	text-align: center;
	font-weight: 300;
	background: #202422;
	font-size: 3em;
	margin: 0 0 1em;
	padding: 0.5em 0;
}
.cont-log .cont-registrarse{
	padding: 5em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.cont-log section{
	padding: 3% 15%;
	margin: 0 0 2em 0;
}
.cont-log section p{
	text-transform: uppercase;
	font-size: 2em;
	margin: 0 0 0.2em 0;
	color: #FFF;
}
.cont-log section input{
	border: 1px solid #a9a9a9;
	background: #FFF;
	width: 100%;
	margin: 0 0 0.5em 0;
	color: #818181;
	font-size: 1.5em;
	padding: 0.3em 0.3em 0.3em 0.6em;
}
.cont-log section input.last{
	margin: 0 0 1.2em;
}
.cont-log section button.btn-enviar-log,
.cont-log section a.btn-reg-log{
	background: #81cbd5;
	border: 1px solid #FFF;
	text-transform: uppercase;
	color: #FFF;
	font-size: 3em;
	font-size: 400;
	padding: 0.2em 0.5em;
	margin: 0 0 0.5em;
	text-decoration: none;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
.cont-log section button.btn-enviar-log:hover,
.cont-log section a.btn-reg-log:hover{
	background: #6dadb2;
}
.cont-log section .cont-reg{
	overflow: hidden;
    padding: 1em 0 3em;
}
.cont-log section .cont-reg a{
	color: #FFF;
	text-transform: uppercase;
	font-size: 1.5em;
	text-decoration: none;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
.cont-log section .cont-reg a:hover{
	transform: scale(1.1)
}
.cont-log section .cont-reg a.olvide{
	margin: 0 0 0 1em;
}
.cont-log section .cont-reg a.olvide:hover{
	color: #202422;
	
}
.cont-log section .cont-reg a.registrate{
	text-decoration: underline;
}
.cont-log section .cont-reg a.registrate:hover{
	text-decoration: none;
}
/* HEADER */
.headerMain{
	background-color: #81cbd5;
	margin-bottom: 0;
	border: 0;
}
/* sombra debajo del header */
.headerMain:after{
	content: '';
	background-color: transparent;
	width: 100%;
	height: 10px;
	bottom: -10px;
	background-image: url(../images/sombra-cabecera-menu.png);
	background-repeat: repeat-x;
	position: absolute;
}
.headerMain > .row{
	padding: 0.5em 0 0 0;
	margin-left: inherit;
	margin-right: inherit;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.logoHeader{}
.logoHeader a{
    /*max-width: 400px;*/
    padding: 1em 0 0.5em 0;
}
.logoHeader a img{
	width: 100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.menuHeader{}
.menuHeader p.logueado{
	padding: 1em 0 0;
    font-size: 1.5em;
    color: #FFF;
}
.menuHeader p.logueado span{
	padding: 0 10px 0 0;
}

.menuHeader p.logueado a{
	color: #FFF;
    font-size: 0.8em;
    margin: 0 0 0 3em;
    padding: 0.2em 1em;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #FFF;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    -webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
.menuHeader p.logueado a:hover{
	background: #FFF;
	color: #000;
}
.menuHeader p.logueado a img{
	border: none;
}
.menuHeader a.pointer-login{
	font-size: 1.2em;
    color: #FFF;
    padding: 1em 2em;
    margin: 1em 1em 0;
    float: right;
    text-transform: uppercase;
    border: 2px solid #fff;
    text-decoration: none;
    cursor: pointer;
    background: #81cbd5;
    -webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
.menuHeader a.pointer-login:hover{
	background: #649ca3;
}
.menuHeader a.btn-reg{
	font-size: 1.2em;
    color: #FFF;
    padding: 1em;
    margin: 1em 1em 0;
    float: right;
    text-transform: uppercase;
    /*border: 2px solid #fff;*/
    text-decoration: none;
    cursor: pointer;
    background: #81cbd5;
    -webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
.menuHeader a.btn-reg:hover{
	color: #000;
}
.buscador{
	padding: 10em 0 1.4em;
	position: relative;
	overflow: hidden;
}
.buscador input{
	font-family:Arial, Helvetica, sans-serif;
	background: #000;
	border: 1px solid #FFF;
	color: #FFFFFF;
	/*max-width: 50%;*/
    float: right;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.buscador input::-webkit-input-placeholder{
	color: #FFF;
}
.buscador a{
	position: absolute;
	top: 69%;
	right: 4%;
	font-size: 24px;
	color: #FFF;
	text-decoration: none;
	/*text-shadow: 0px 0px 3px rgba(71, 30, 30, 1);*/
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
.buscador a:hover{
	text-shadow: 0px 0px 3px rgba(129, 203, 213, 1);
}
.cont-buscador{
	position: relative;
	overflow: hidden;
}
p.detalle-busqueda{
	color: #FFF;
	padding: 0;
	margin: 0;
	font-size: 2em;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-control::-moz-placeholder{
	color: #FFFFFF;
	opacity: 1;
}
.form-control:focus {
  border-color: #8fd4d9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(299, 299, 299, 0.075), 0 0 8px rgba(299, 299, 299, 0.6);
          box-shadow: inset 0 1px 1px rgba(299, 299, 299, 0.075), 0 0 8px rgba(299, 299, 299, 0.6);
}
.menuHeader .menuAl{
	margin: 4em 0 0;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.6em 1em;
  border: 0.15em solid #81cbd5;
  /*border: 0.15em solid #fff;*/
  margin: 0 0 0 1em;
  -webkit-transition:all .2s linear; 
  -o-transition:all .2s linear; 
  -moz-transition:all .2s linear; 
  -ms-transition:all .2s linear; 
  transition:all .2s linear;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: inherit;
  background-color: #68bec5;
  /*border: 0.15em solid #fff;*/
  border-bottom: 0.15em solid #68bec5;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: inherit;
  background-color: #68bec5;
  /*border: 0.15em solid #fff;*/
  border-bottom: 0.15em solid #68bec5;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: inherit;
  background-color: #68bec5;
}
.navbar-default .navbar-toggle{
	background: #6dadb2;
	border: inherit;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #68bec5;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

/* FIN HEADER */

/* MAIN CONT */
section.main-cont{
	/*padding: 10em 0 0;*/
}
section.main-cont .idioma{
	overflow: hidden;
	margin: 0 0 1em 0;
}
section.main-cont .idioma a{
	margin: 0 0 0 1em;
	width: 100%;
	max-width: 50px;
	max-height: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
section.main-cont .idioma .cerrar-login{} 
section.main-cont .idioma .cerrar-login p{
	font-size: 1.5em;
    font-weight: normal;
    margin: 1em 0 0;
} 
section.main-cont .idioma .cerrar-login p a{
	color: #c7c7c7;
    font-size: 0.8em;
    margin: 0 0 0 3em;
    padding: 0.2em 1em;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    -webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
} 
section.main-cont .idioma .cerrar-login p a:hover{
	background: #FFF;
	color: #81cbd5;
}


/* MAINSLIDER HOME */
article.slide{
	max-height: 560px;
	overflow: hidden;
}
article.slide a,a:hover {
	text-decoration:none;
	color:#000;
}
article.slide .carousel .item {
    width: 100%; /*slider width*/
    max-height: 560px; /*slider height*/
    -webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;

}
article.slide .carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
article.slide .carousel .carousel-control {
    background: none;
    border: none;
    top: 0;
}
article.slide .carousel .carousel-control.left{
	font-size: 35px;
}
article.slide .carousel .carousel-control.right{
	font-size: 35px;
	margin-right: 40px;
}
article.slide .carousel .item .desc-item{
	position: absolute;
	padding-left: inherit;
	padding-right: inherit;
	padding-top: 35em;
}
article.slide .carousel .item .desc-item h1{
	background: rgba(143, 212, 217, 0.7);
	color: #FFF;
    font-size: 3.2em;
    font-weight: 300;
    line-height: 1em;
    margin: 0em 0 0 -0.25em;
    padding: 0.1em 0 0.2em 1.7em;
    /*text-indent: 0.5em;*/
}
article.slide .carousel .item .desc-item .info-item{
	background: rgba(255, 255, 255, 0.7);
	margin: 0;
	height: auto;
	min-height: 20em;
	position: relative;
    padding: 0.5em 2em 1em 3em;
    font-weight: 300;
}
article.slide .carousel .item .desc-item .info-item h2{
	font-weight: 300;
	font-size: 2.2em;
	margin: 5px 0;
}
article.slide .carousel .item .desc-item .info-item p{
	font-size: 1.4em;
	margin: 0;
}
article.slide .carousel .item .desc-item .info-item .detail-info-item{
	margin: 3.4em 0 0;
}
article.slide .carousel .item .desc-item .info-item .detail-info-item p{
	padding: 0 0 0 20px;
}
article.slide .carousel .item .desc-item .info-item .detail-info-item p b{
	font-weight: 400;
}
article.slide .carousel .item .desc-item .info-item .detail-info-item p.titulo-serie{
	background: url(../images/icon-titulo-serie.png) no-repeat left 2px;
}
article.slide .carousel .item .desc-item .info-item .detail-info-item p.duracion{
	background: url(../images/icon-duracion-serie.png) no-repeat left 2px;
}
article.slide .carousel .item .desc-item .info-item .detail-info-item p.genero{
	background: url(../images/icon-genero-serie.png) no-repeat left 2px;
}

/*  SECCION PROGRAMAS */
section.programas{}
section.programas h3{
	font-size: 2.8em;
	text-align: center;
	color: #FFF;
	background: rgba(143, 212, 217, 0.8);
	margin: 1.4em 0 0;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-weight: 100;
}
section.programas .cont-proyectos-des{
	padding: 2em 4.5em;
	background: rgba(255, 255, 255, 0.85);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
section.programas .item-programa h3{
	margin: 0;
	font-size: 2.2em;
	color: #000;
}
section.programas #carousel-proyectos{}
section.programas #carousel-proyectos .item{}
section.programas #carousel-proyectos .item .row{
	margin-left: 0;
	margin-right: 0;
}
section.programas #carousel-proyectos .item .item-programa{
	padding-left: 5px;
	padding-right: 5px;
}



/*  SECCION PROGRAMAS */


/*  CATEGORIA DE PELICULAS */
section.cat-movies{
	margin: 3em 0 0;
}
section.cat-movies h3{
	font-size: 2.8em;
	text-align: center;
	color: #FFF;
	background: rgba(143, 212, 217, 0.8);
	margin: 1.4em 0 0;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-weight: 100;
}
section.cat-movies .cont-cortos-des{
	padding-left: 0;
	padding-right: 0;
}
section.cat-movies ul.listado-tabs{
	border-bottom: 0.5em solid #81cbd5;
}
section.cat-movies ul.listado-tabs li{
	margin-bottom: 0;
}
section.cat-movies ul.listado-tabs li.active a{
	background: #81cbd5;
	border-color: #81cbd5;
	color: #FFF;
}
section.cat-movies ul.listado-tabs li a{
	color: #FFF;
	font-size: 3em;
	font-weight: 300;
	border-radius: 0;
	background: #505559;
	margin: 0 0.5em 0 0;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
section.cat-movies ul.listado-tabs li a:hover{
	background: #81cbd5;
	border-color: #81cbd5;
	color: #FFF;
}
section.cat-movies ul.listado-tabs li.active a,
section.cat-movies ul.listado-tabs li.active a:hover,
section.cat-movies ul.listado-tabs li.active a:focus{

}
section.cat-movies .tab-content .item-listado-tab{}
section.cat-movies .tab-content .item-listado-tab .thumb{
	overflow: hidden;
	padding-left: inherit;
    padding-right: inherit;
    -webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
section.cat-movies .tab-content .item-listado-tab .thumb a{}
section.cat-movies .tab-content .item-listado-tab .thumb a img{
	margin: 0;
    padding: 0;
    -webkit-transition:all .2s linear; 
    -o-transition: all 0.2s ease 0s; 
    -moz-transition: all 0.2s ease 0s; 
    -ms-transition: all 0.2s ease 0s; 
    transition: all 0.2s ease 0s;
}

section.cat-movies .tab-content .item-listado-tab .thumb a:hover img{
	transform: scale(1.2, 1.2);
	-webkit-transition:all .4s linear; 
    -o-transition: all 0.4s ease 0s; 
    -moz-transition: all 0.4s ease 0s; 
    -ms-transition: all 0.4s ease 0s; 
    transition: all 0.4s ease 0s;
}
section.cat-movies .tab-content .item-listado-tab .thumb a .desc-item-listado{
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	padding: 2% 2% 2% 6%;
}
section.cat-movies .tab-content .item-listado-tab .thumb a:hover .desc-item-listado{
	opacity: 1;
}
section.cat-movies .tab-content .item-listado-tab .thumb a .desc-item-listado h3{
	color: #000;
	font-style: italic;
	font-style: 3em;
	margin: 1em 0;
	padding: 0.2em 0;
}
section.cat-movies .tab-content .item-listado-tab .thumb a .desc-item-listado p{
	color: #81cbd5;
	font-size: 1.5em;
	font-style: italic;
}
section.cat-movies .tab-content .item-listado-tab .thumb a .desc-item-listado p span{
	color: #FFF;
}

/* FIN MAIN CONT */

/* MODALS - DETALLE DEL VIDEO */
.modal-dialog.modal-lg{
	width: 50%;
}
.modal-dialog.modal-lg .modal-content{
	background: #81cbd5;
	border: inherit;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.modal-dialog.modal-lg .modal-content .modal-header{
	border-bottom: inherit;
}
.modal-dialog.modal-lg .modal-content .modal-body{
	background: #FFF;
	padding-bottom: 40px;
}
.modal-dialog.modal-lg .modal-content .modal-body .row{
	margin-left: 0;
	margin-right: 0;
}

/* PROPIEDADES MODAL HEADER */
.modal-dialog.modal-lg .modal-content .modal-header .btn-modal-close{
	color: #FFF;
	font-size: 8em;
	opacity: 0.9;
}
.modal-dialog.modal-lg .modal-content .modal-header h4{
	font-size: 3em;
    font-weight: 300;
    padding: 0 0 0.1em 0.5em;
    color: #FFF;
}
.modal-dialog.modal-lg .modal-content .modal-header a.close{
	display: block;
	cursor: pointer;
	border: none;
}
.modal-dialog.modal-lg .modal-content .modal-body .form-group label{
	font-size: 2em;
	font-weight: 100;
}
.modal-dialog.modal-lg .modal-content .modal-body form.registro button{
	font-size: 1.2em;
    color: #FFF;
    padding: 1em 2em;
    margin: 1em 1em 0;
    float: right;
    text-transform: uppercase;
    border: 2px solid #fff;
    text-decoration: none;
    cursor: pointer;
    background: #81cbd5;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    -webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
.modal-dialog.modal-lg .modal-content .modal-body form.registro button:hover{
	background: #649ca3;
}






.modal-dialog.modal-lg .modal-content .modal-body .form-group input{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.modal-dialog.modal-lg .modal-content .modal-body .pull-left{
	margin: 1em 0 0;
}
.modal-dialog.modal-lg .modal-content .modal-body .pull-left a{
	color: #000;
	font-size: 1.4em;
	text-decoration: none;
	padding: 0;
	margin: 0;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
.modal-dialog.modal-lg .modal-content .modal-body .pull-left a.btn-modal-olvide{
	background: #81cbd5;
	color: #FFF;
	padding: 0.5em 1.5em;
	margin: 0 2em 0 0;
}
.modal-dialog.modal-lg .modal-content .modal-body .pull-left a.btn-modal-olvide:hover{
	background: #649ca3;
}
.modal-dialog.modal-lg .modal-content .modal-body .pull-left a.btn-modal-registrarse{
	text-decoration: underline;
	color: #81cbd5;
}
.modal-dialog.modal-lg .modal-content .modal-body .pull-left a.btn-modal-registrarse:hover{
	text-decoration: none;
}
/* PROPIEDADES MODAL CONTENIDO */
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-video{
	margin: 0 0 2em 0;
}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-video img{}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-sinopsis{
	font-size: 1.5em;
	font-weight: 300;
	padding: 2em 0;
	margin: 1em 0 0;
	border-top: 1px solid #929292;
	border-bottom: 1px solid #929292;
}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-redes{
	padding: 2em 0;
}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-redes a{
	color: #FFF;
	font-size: 5em;
	margin: 0 0.5em 0 0;
	text-decoration: none;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-redes a:hover{
	color: #81cbd5;
}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-rankig{
	margin: 0.5em 0 2em;
    overflow: hidden;
}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-rankig img{
	margin: 0 0.5em 0 0;
}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-datos{
	margin: 0 0 2em 0;
}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-datos p{
	font-size: 1.5em;
	font-weight: 300;
	margin: 0 0 5px;
}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-datos p b{}
.modal-dialog.modal-lg .modal-content .modal-body .item-modal-festival{}

/* DETALLE DEL PROYECTO */
.bg-cemento{
	background: url(../images/cemento.jpg) repeat;
}
section.main-cont{
	overflow: hidden;
	padding: 0 0 5em 0;
}
section.main-cont article.cont-detalles{
	background: rgba(255, 255, 255, 0.85);
	padding: 0 0 10em;
	font-family: "Oswald",sans-serif;
}
section.main-cont article.cont-detalles h1{
	font-size: 4em;
	text-align: center;
	color: #FFF;
	background: rgba(143, 212, 217, 0.8);
	margin: 0;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-weight: 100;
}
section.main-cont article.cont-detalles .cont-detalle-proyecto{}
section.main-cont article.cont-detalles .cont-detalle-proyecto .proyecto-video{
	margin: 5em 0;
	overflow: hidden;
}
section.main-cont article.cont-detalles .cont-detalle-proyecto .proyecto-info{}
section.main-cont article.cont-detalles .cont-detalle-proyecto .proyecto-info p{
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 0.8em 0;
}
section.main-cont article.cont-detalles .cont-detalle-proyecto .proyecto-info p b{
	font-weight: 400;
}

/* SLIDER CORTOS RELACIONADOS */
section.main-cont aside.cont-relacionados{
	background: rgba(255, 255, 255, 0.85);
	padding: 0;
	font-family: "Oswald",sans-serif;
}
section.main-cont aside.cont-relacionados h2{
	font-size: 4em;
	text-align: center;
	color: #FFF;
	background: rgba(143, 212, 217, 0.8);
	margin: 0;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-weight: 100;
}
section.main-cont aside.cont-relacionados .well-none{
	padding: 4em 8em;
}
section.main-cont aside.cont-relacionados #carousel-proyectos{}
section.main-cont aside.cont-relacionados .carousel-control{
	font-size: 30px;
	color: #8fd4d9;
}
section.main-cont aside.cont-relacionados .carousel-control:hover{
	color: #000;
}
section.main-cont aside.cont-relacionados .carousel-control.left{
	left: -5%;
}
section.main-cont aside.cont-relacionados .carousel-control.right{
	right: -2%;
}


/* DETALLE WORK IN PROGRESS */
section.main-cont article.cont-detalles .cont-detalle-work{
	margin: 5em 0;
}
section.main-cont article.cont-detalles .cont-detalle-work .work-info{
	padding-left: 0;
	padding-right: 0;
}
section.main-cont article.cont-detalles .cont-detalle-work .work-info p{
	font-size: 2em;
	font-weight: 300;
	margin: 0 0 0.8em 0;
}

section.main-cont article.cont-detalles .cont-detalle-work .work-info p b{
	font-weight: 400;
}
section.main-cont article.cont-detalles .cont-detalle-work .work-info .work-video{
	padding-left: 0;
	padding-right: 0;
	margin: 0 0 2em;
}
section.main-cont article.cont-detalles .cont-detalle-work .work-info .work-video img{
	border: 0.5em solid #FFF;
}

/* INDUSTRIA */
#carousel-proyectos{
	position: relative;
}
#carousel-works{
	position: relative;
}
section.main-cont article.cont-detalles .cont-proyectos-des,
section.main-cont article.cont-detalles .cont-work-des{
	margin: 5em 0;
}
section.main-cont .thumbnail{
	position: relative;
	overflow: hidden;
	color: #FFF;
  display: block;
  padding: 0;
  margin-bottom: 0;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 0;
  border: none;
  background: none !important; 
}
section.main-cont .thumbnail .item-hover{
	position: absolute;
	top: 46%;
	/*left: 45%;*/
	text-align: center;
    width: 100%;
}
section.main-cont .thumbnail .item-hover span{
	color: #000;
	/*text-shadow: 0px 0px 5px #81cbd5;*/
	font-size: 3em;
	transform: scale(1, 1);
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
    opacity: 0;
}
section.main-cont .thumbnail:hover .item-hover span{
	opacity: 1;
}
section.main-cont article.cont-detalles .cont-proyectos-des .thumbnail{
	border-bottom: 0.5em solid #81cbd5; 
}
section.main-cont article.cont-detalles .cont-proyectos-des .thumbnail img{
	-webkit-transition:all 0.4s linear; 
    -o-transition: all 0.4s ease 0s; 
    -moz-transition: all 0.4s ease 0s; 
    -ms-transition: all 0.4s ease 0s; 
    transition: all 0.4s ease 0s;
}

.item-programa .thumbnail img{
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;

}
.item-programa .thumbnail:hover img{
  opacity: 0.5;
  transform: scale(1.25);
}





/*
section.main-cont article.cont-detalles .cont-proyectos-des .thumbnail:hover img{
	transform: scale(1.2, 1.2);
	-webkit-transition:all .4s linear; 
    -o-transition: all 0.4s ease 0s; 
    -moz-transition: all 0.4s ease 0s; 
    -ms-transition: all 0.4s ease 0s; 
    transition: all 0.4s ease 0s;
}

section.main-cont article.cont-detalles .cont-proyectos-des .thumbnail .info-hover{
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	padding: 2em;
	opacity: 0;
	z-index: 100;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
section.main-cont article.cont-detalles .cont-proyectos-des .thumbnail:hover .info-hover{
	opacity: 1;

}
section.main-cont article.cont-detalles .cont-proyectos-des .thumbnail .info-hover p{
	font-size: 1.5em;
	font-style: italic;
}
section.main-cont article.cont-detalles .cont-proyectos-des .thumbnail .info-hover p b{
	color: #81cbd5;
}
section.main-cont .thumbnail:hover,
section.main-cont .thumbnail:focus{
	text-decoration: none;
	color: #FFF;
}*/

section.main-cont article.cont-detalles .cont-proyectos-des .thumbnail img{
	/*border-bottom: 0.5em solid #81cbd5;*/
}
section.main-cont article.cont-detalles .cont-proyectos-des h3{
	font-weight: 300;
	font-size: 2em;
	line-height: 1.5em;
	text-decoration: none;
}

/********************** MAIN SLIDER ***************************/
section.main-cont .carousel-control {
  position: absolute;
  padding-top: 14%;
  top: 0;
  left: 0;
  bottom: 0;
  width: inherit;
  opacity: .8;
  font-size: 100px;
  line-height: 80px;
  color: #FFF;
  text-align: center;
  text-shadow: none;
  z-index: 100;
}
section.main-cont .carousel-control:hover{
	color: #8fd4d9;
}
section.main-cont .carousel-control i{
	margin-left: inherit;
	margin-right: inherit;
}
section.main-cont .carousel-control.left {
	background-image: none;
	left: 0.5em;
}
section.main-cont .carousel-control.right {
  left: auto;
  right: 0.5em;
  background-image: none;
}
/********************** MAIN SLIDER ***************************/


/********************** MAIN PROGRAMAS ***************************/
section.main-cont section.programas .carousel-control {
  position: absolute;
  padding-top: 12%;
  top: 0;
  left: 0;
  bottom: 0;
  width: inherit;
  opacity: .8;
  font-size: 20px;
  line-height: 80px;
  color: #81cbd5;
  text-align: center;
  text-shadow: none;
  z-index: 100;
  /* display: none; */
}
section.main-cont section.programas .carousel-control:hover{
	color: #8fd4d9;
}
section.main-cont section.programas .carousel-control i{
	margin-left: inherit;
	margin-right: inherit;
}
section.main-cont section.programas .carousel-control.left {
	background-image: none;
	left: -1.6em;
}
section.main-cont section.programas .carousel-control.right {
  left: auto;
  right: -0.5em;
  background-image: none;
}
/********************** MAIN PROGRAMAS ***************************/


section.main-cont article.cont-detalles.pb0.mt0 h1{
	background: #FFF;
	color: #81cbd5;
}
section.main-cont article.cont-detalles .cont-work-des .thumbnail{
	border-bottom: 0.5em solid #FFF !important;
}
section.main-cont article.cont-detalles .cont-work-des h3{
	font-weight: 300;
	font-size: 2em;
	line-height: 1.5em;
	text-decoration: none;
}
section.main-cont article.cont-detalles .cont-work-des .thumbnail{
	border-bottom: 0.5em solid #81cbd5;
}
section.main-cont article.cont-detalles .cont-work-des .thumbnail img{
	-webkit-transition:all .4s linear; 
    -o-transition: all 0.4s ease 0s; 
    -moz-transition: all 0.4s ease 0s; 
    -ms-transition: all 0.4s ease 0s; 
    transition: all 0.4s ease 0s;
}
section.main-cont article.cont-detalles .cont-work-des .thumbnail:hover img{
	transform: scale(1.2, 1.2);
	-webkit-transition:all .4s linear; 
    -o-transition: all 0.4s ease 0s; 
    -moz-transition: all 0.4s ease 0s; 
    -ms-transition: all 0.4s ease 0s; 
    transition: all 0.4s ease 0s;
}

section.main-cont article.cont-detalles .cont-work-des .thumbnail .info-hover{
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	padding: 2em;
	opacity: 0;
	z-index: 100;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
section.main-cont article.cont-detalles .cont-work-des .thumbnail:hover .info-hover{
	opacity: 1;

}
section.main-cont article.cont-detalles .cont-work-des .thumbnail .info-hover p{
	font-size: 1.5em;
	font-style: italic;
}
section.main-cont article.cont-detalles .cont-work-des .thumbnail .info-hover p b{
	color: #81cbd5;
}
.fa {
	font-size: 2em;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

/* FOOTER */
footer.navbar-default{
	background: rgba(0, 0, 0, 0.85);
	padding: 6em 0 0;
	border: none;
	margin-top: 40;
	margin-bottom: 0;
	border-radius: 0;
}
footer.redes{}
footer.redes .ventana-sur a img{
	display: inherit !important;
}
footer.redes .ventana-sur{
	margin: 0 0 3em;
}

footer.redes .item-red{
    background: #FFF;
    border-radius: 150px;
    box-sizing: border-box;
    height: 150px;
    line-height: 0px;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    display: table;
    -webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
    /*text-shadow: 1px 1px rgb(238, 238, 238), 2px 2px rgb(238, 238, 238), 3px 3px rgb(238, 238, 238), 4px 4px rgb(238, 238, 238), 5px 5px rgb(238, 238, 238), 6px 6px rgb(238, 238, 238), 7px 7px rgb(238, 238, 238), 8px 8px rgb(238, 238, 238), 9px 9px rgb(238, 238, 238), 10px 10px rgb(238, 238, 238), 11px 11px rgb(238, 238, 238), 12px 12px rgb(238, 238, 238), 13px 13px rgb(238, 238, 238), 14px 14px rgb(238, 238, 238), 15px 15px rgb(238, 238, 238), 16px 16px rgb(238, 238, 238), 17px 17px rgb(238, 238, 238), 18px 18px rgb(238, 238, 238), 19px 19px rgb(238, 238, 238), 20px 20px rgb(238, 238, 238), 21px 21px rgb(238, 238, 238), 22px 22px rgb(238, 238, 238), 23px 23px rgb(238, 238, 238), 24px 24px rgb(238, 238, 238), 25px 25px rgb(238, 238, 238), 26px 26px rgb(238, 238, 238), 27px 27px rgb(238, 238, 238), 28px 28px rgb(238, 238, 238), 29px 29px rgb(238, 238, 238), 30px 30px rgb(238, 238, 238), 31px 31px rgb(238, 238, 238), 32px 32px rgb(238, 238, 238), 33px 33px rgb(238, 238, 238), 34px 34px rgb(238, 238, 238), 35px 35px rgb(238, 238, 238), 99px 99px rgb(238, 238, 238), 37px 37px rgb(238, 238, 238), 38px 38px rgb(238, 238, 238), 39px 39px rgb(238, 238, 238), 40px 40px rgb(238, 238, 238), 41px 41px rgb(238, 238, 238), 42px 42px rgb(238, 238, 238), 43px 43px rgb(238, 238, 238), 44px 44px rgb(238, 238, 238), 45px 45px rgb(238, 238, 238), 46px 46px rgb(238, 238, 238), 47px 47px rgb(238, 238, 238), 48px 48px rgb(238, 238, 238), 49px 49px rgb(238, 238, 238), 50px 50px rgb(238, 238, 238), 51px 51px rgb(238, 238, 238), 52px 52px rgb(238, 238, 238), 53px 53px rgb(238, 238, 238), 54px 54px rgb(238, 238, 238), 99px 99px rgb(238, 238, 238), 56px 56px rgb(238, 238, 238), 57px 57px rgb(238, 238, 238), 58px 58px rgb(238, 238, 238), 59px 59px rgb(238, 238, 238), 60px 60px rgb(238, 238, 238), 99px 99px rgb(238, 238, 238), 62px 62px rgb(238, 238, 238), 63px 63px rgb(238, 238, 238), 64px 64px rgb(238, 238, 238), 65px 65px rgb(238, 238, 238), 66px 66px rgb(238, 238, 238), 67px 67px rgb(238, 238, 238), 68px 68px rgb(238, 238, 238), 69px 69px rgb(238, 238, 238), 70px 70px rgb(238, 238, 238), 71px 71px rgb(238, 238, 238), 72px 72px rgb(238, 238, 238), 73px 73px rgb(238, 238, 238), 74px 74px rgb(238, 238, 238), 75px 75px rgb(238, 238, 238), 76px 76px rgb(238, 238, 238), 77px 77px rgb(238, 238, 238), 78px 78px rgb(238, 238, 238), 79px 79px rgb(238, 238, 238), 80px 80px rgb(238, 238, 238), 81px 81px rgb(238, 238, 238), 82px 82px rgb(238, 238, 238), 83px 83px rgb(238, 238, 238), 84px 84px rgb(238, 238, 238), 85px 85px rgb(195, 38, 58), 86px 86px rgb(207, 41, 62);*/
    width: 150px;
}
footer.redes .item-red:hover{
    background: rgba(143, 212, 217, 0.4);
}
footer.redes .item-red i{
	color: #68bec5;
	font-size: 5em;
	font-weight: normal;
	line-height: auto;
	text-decoration: none;
	margin: inherit;
	width: inherit;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
    display: table-cell;
    vertical-align: middle;
}
footer.redes .item-red i:hover{
	color: #FFF;
}
footer.redes .item-red a:hover{}
footer.redes .item-red a.icon-facebook{}
footer.redes .item-red a.icon-twitter{}
footer.redes .item-red a.icon-instagram{
	margin-left: inherit;
}
footer.redes .item-red a.icon-youtube{}

footer.redes nav{}
footer.redes nav ul{
	/*margin: inherit;*/
	margin: 5em 0 2em;
}
footer.redes nav ul li{
	list-style: none;
	border-left: 1px solid #FFF;
}
footer.redes nav ul li:first-child{
	border-left: none;
}
footer.redes nav ul li a{
	color: #FFF;
	font-size: 2em;
	font-weight: 300 !important;
	border: none !important;
	text-decoration: none;
	padding: 0 1em;
	display: block;
	-webkit-transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -ms-transition:all .2s linear; 
    transition:all .2s linear;
}
footer.redes nav ul li a:hover{
	color: #81cbd5;
}
p.copyright{
	background: rgba(66, 109, 115, 0.90);
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 2em 0;
	color: #FFF;
}




/* MEDIA QUERIES / MEDIA QUERIES / MEDIA QUERIES / MEDIA QUERIES */

/* Extra Small - XS */
@media(max-width:767px){
	.buscador{
		padding: 6.4em 2em 1.4em;
	}
	.buscador a{
		/*top: 60%;*/
		right: 7%;
	}
	.logoHeader a{
		max-width: 360px !important;
		padding: 0;
	}
	.navbar-default .navbar-nav > li > a{
		margin: 0;
		border: inherit;
		padding: 0.5em;
		border-bottom: 1px solid #e6e6e6;
	}
	.navbar-nav {
    	margin: 0 -15px;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus{
		background: #5facb3;
	}
	.navbar-default .navbar-nav > li > a:hover, 
	.navbar-default .navbar-nav > li > a:focus{
		background: #5facb3;
		border: inherit;
		border-bottom: 1px solid #e6e6e6;
		color: #FFF;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
	  color: inherit;
	  background-color: inherit;
	  border: 0;
	  border-bottom: 1px solid #e6e6e6;
	}
	.menuHeader .menuAl{
		margin: 1em 0;
	}
	.menuHeader p.logueado{
		font-size: 1em;
	}
	.menuHeader p.logueado a{
		max-width: 24px;
	}
	section.main-cont{
		padding: 0;
	}
	.headerMain:after {
		display: none;
	}
	section.cat-movies ul.listado-tabs li a{
		font-size: 2em;
	}
	footer.redes .item-red{
		margin: 0 0 6em 0;
	}
	footer.redes nav ul{
		margin: 0 0 2em;
	}
	footer.redes nav ul li{
		margin: 0 0 1em 0;
	}
	footer.redes nav ul li a{
	}
	footer.redes .item-red{
		width: 50px;
		height: 50px;
		background: inherit;
		text-shadow: inherit;
	}
	footer.redes .item-red:hover{
		background: inherit;
	}
	footer.redes .item-red i{
		font-size: 2em;
	}
	.modal-dialog.modal-lg .modal-content .modal-header h4{
		font-size: 2.5em;
	}
	.modal-dialog.modal-lg .modal-content .modal-header .btn-modal-close{
		font-size: 4em;
		margin: 0;
	}
	.modal-dialog.modal-lg .modal-content .modal-body .item-modal-rankig{
		border-top: 1px solid #929292;
		padding: 2em 0 0;
	}
	section.main-cont article.cont-detalles{
		margin: 3em 0 0;
		padding: 0 0 4em 0;
	}
	section.main-cont article.cont-detalles .cont-detalle-proyecto .proyecto-video	{
		margin: 3em 0;
	}
	section.main-cont article.cont-detalles .cont-detalle-work{
		margin: 3em 0 0;
	}
	section.main-cont article.cont-detalles h1{
		font-size: 4em;
	}
	section.main-cont article.cont-detalles .cont-detalle-proyecto .proyecto-info p,
	section.main-cont article.cont-detalles .cont-detalle-work .work-info p{
		font-size: 1.7em;
	}
	section.main-cont article.cont-detalles .cont-detalle-work .work-info .work-video{
		margin: 3em 0;
	}
	section.main-cont .carousel-control.right{
		right: 0em;
	}
	section.main-cont .carousel-control.left{
		left: 0em;
	}
	section.main-cont .carousel-control{
		padding-top: 14%;
	}
	.cont-log h1{
		font-size: 4em;
	}
	.cont-log h2{
		font-size: 2em;
	}
	.cont-log section a.btn-enviar-log,
	.cont-log section a.btn-reg-log{
		font-size: 2em;
	}
	section.programas h3{
		font-size: 2em;
	}
	section.main-cont section.programas .carousel-control.left{
		  left: -2.5em;
	}
	section.main-cont section.programas .carousel-control.right{
		  right: -2.5em;
	}
	section.programas .item-programa h3{
		font-size: 1.8em;
	}
	section.programas .cont-proyectos-des{
		padding: 2em 1.5em;
	}
	section.main-cont .thumbnail .item-hover{
		top: 44%;
  		/*left: 44%;*/
	}
	section.main-cont .thumbnail .item-hover span{
		font-size: 1.2em;
	}
	section.main-cont aside.cont-relacionados .well-none{
		padding: 4em;
	}
	section.main-cont aside.cont-relacionados .carousel-control{
		font-size: 16px;
		padding-top: 12%;
	}
	section.main-cont aside.cont-relacionados .carousel-control.left{
		left: -9%;
	}
	section.main-cont aside.cont-relacionados .carousel-control.right{
		right: -9%;
	}
	p.detalle-busqueda{
		padding: 0;
		font-size: 1.6em;
	}
	.modal-dialog.modal-lg{
		width: 90%;
	}
	.cont-log{
		margin: 5em 0 0;
	}
	.menuHeader p.logueado span{
		font-size: 1.4em;
	}
	.menuHeader p.logueado a{
		margin: 0 0 0 1em;
		max-width: inherit;
		padding: 0.6em 2em;
	}
	.menuHeader a.pointer-login{
		padding: 0.5em 2em;
		margin: 0.5em 0 0 0;
	}
	.menuHeader a.btn-reg{
		padding: 0.5em 2em;
		margin: 0.5em 1em 0;
	}
}

/* Small - SM */
@media(min-width:768px) and (max-width:991px){
	.buscador{
		padding: 8em 0 1.4em;
	}
	.buscador a{
		/*top: 67%;*/
	}
	.logoHeader a{
		/*max-width: 150px;*/
    	padding: 1em 0 0.5em;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 1.4em;
		padding: 0.6em 0.5em;
		margin: 0 0 0 0.3em;
	}
	article.slide .carousel .item .desc-item{
		padding-top: 20em;
	}
	section.main-cont{
		/*padding: 11em 0 0;*/
	}
	.headerMain:after {
		display: none;
	}
	footer.navbar-default{
		padding: 4em 0 0;
	}
	footer.redes .item-red a{
		padding: 0.2em;
	}
	footer.redes nav ul li{
		margin: 0 0 1em 0;
	}
	footer.redes nav ul li a{
		padding: 0 0.2em;
		font-size: 1.8em;
	}
	footer.redes .item-red{
		width: 100px;
		height: 100px;
	}
	footer.redes .item-red i{
		font-size: 4em;
	}
	.modal-dialog.modal-lg .modal-content .modal-header h4{
		font-size: 3em;
	}
	.modal-dialog.modal-lg .modal-content .modal-header .btn-modal-close{
		font-size: 5em;
		margin: 0;
	}
	section.main-cont article.cont-detalles{
		margin: 3em 0 0;
		padding: 0 0 4em;
	}
	section.main-cont article.cont-detalles .cont-detalle-proyecto .proyecto-video,
	section.main-cont article.cont-detalles .cont-detalle-work{
		margin: 3.5em 0;
	}
	section.main-cont article.cont-detalles h1{
		font-size: 5em;
	}
	section.main-cont article.cont-detalles .cont-detalle-proyecto .proyecto-info p,
	section.main-cont article.cont-detalles .cont-detalle-work .work-info p{
		font-size: 1.5em;
	}
	section.main-cont article.cont-detalles .cont-detalle-work{
		margin: 3.5em 0 0;
	}
	section.main-cont .carousel-control{
		padding-top: 17%;
	}
	section.main-cont .carousel-control.right{
		right: 0.1em;
	}
	section.main-cont .carousel-control.left{
		left: 0.1em;
	}
	section.main-cont .thumbnail{
		/*margin-bottom: 10px;*/
	}
	section.main-cont article.cont-detalles .cont-proyectos-des h3,
	section.main-cont article.cont-detalles .cont-work-des h3{
		margin: 0;
		font-size: 1.6em;
	}
	section.programas .item-programa h3{
		font-size: 2em;
	}
	section.programas .cont-proyectos-des{
		padding: 2em 1.5em;
	}
	section.main-cont .thumbnail .item-hover{
		top: 40%;
		/*left: 40%;*/
	}
	section.main-cont .thumbnail .item-hover span{
		font-size: 2em;
	}
	section.main-cont aside.cont-relacionados .well-none{
		padding: 4em;
	}
	section.main-cont aside.cont-relacionados .carousel-control{
		font-size: 20px;
		padding-top: 13%;
	}
	section.main-cont aside.cont-relacionados .carousel-control.left{
		left: -5%;
	}
	section.main-cont aside.cont-relacionados .carousel-control.right{
		right: -5%;
	}
	p.detalle-busqueda{
		padding: 0;
	}
	.modal-dialog.modal-lg{
		width: 80%;
	}
	.cont-log{
		margin: 7em 0 0;
	}
}

/* Medium - MD */
@media(min-width:992px) and (max-width:1199px){
	.buscador{
		padding: 9em 0 1.4em;
	}
	.buscador a{
		/*top: 67%;*/
	}
	.navbar-default .navbar-nav > li > a{
		margin: 0 0 0 0.6em;
		font-size: 1.4em;
	}
	article.slide .carousel .item .desc-item{
		padding-top: 30em;
	}
	article.slide .carousel .item .desc-item .info-item{
		min-height: 30em;
	}
	article.slide .carousel .item .desc-item h1{
		font-size: 3em;
	}
	article.slide .carousel .item .desc-item .info-item h2{
		font-size: 2em;
	}
	article.slide .carousel .item .desc-item .info-item p{
		font-size: 1.4em;
	}
	footer.redes nav ul li{
		margin: 0 0 0.5em 0;
	}
	footer.redes nav ul li a{
		padding: 0 0.5em;
	}
	.modal-dialog.modal-lg .modal-content .modal-header h4{
		font-size: 4em;
	}
	.modal-dialog.modal-lg .modal-content .modal-header .btn-modal-close{
		font-size: 6em;
		margin: 0.05em 0 0;
	}
	section.main-cont article.cont-detalles h1{
		font-size: 5em;
	}
	section.main-cont .thumbnail{
		/*margin-bottom: 10px;*/
	}
	section.main-cont article.cont-detalles .cont-proyectos-des h3,
	section.main-cont article.cont-detalles .cont-work-des h3{
		font-size: 1.8em;
		margin: 0;
	}
	section.main-cont .carousel-control{
		padding-top: 13%;
	}
	section.main-cont .thumbnail .item-hover{
		top: 44%;
		/*left: 42%;*/
	}
	section.main-cont .thumbnail .item-hover span{
		font-size: 2.5em;
	}
	section.main-cont aside.cont-relacionados .carousel-control{
		font-size: 20px;
	}
	section.main-cont aside.cont-relacionados .carousel-control.left{}
	section.main-cont aside.cont-relacionados .carousel-control.right{}
	p.detalle-busqueda{
		padding: 0;
	}
	.cont-log{
		margin: 8em 0 0;
	}
}

/* Large - LG */
@media(min-width:1200px){}









