{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Edici&oacute;n de genero</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('generos') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
