{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h1>Listado de g&eacute;neros</h1>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('generos_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                <td>
                    <a href="{{ path('generos_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('generos_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
    {% endblock %}
