{% extends '::base_crud.html.twig' %}

{% block body -%}
    <h2>¡El genero ha sido creado exitosamente! Haga <a href="{{ url('generos') }}">click aqu&iacute;</a> para volver al listado.</h2>
{% endblock %}
